.headers-edit{
    text-align: center;
    margin:1em
}

.tittle-wardrobe, .tittle-outift{
    color: black;
    font-size: 4em;
}

.center-outift{

}

.wardrobe-slot-empty{
    border: 0.1em solid black;
    margin: 0.5em;
    border-radius: 10%;
    background-color: grey;
    height: 9em;
    opacity: 0.2;
}

.outfit-outline-edit{
    background: url('/images/body-outline.png');
    background-repeat:no-repeat;
   background-size:contain;
}

.slot-head-edit, .slot-torso-edit, .slot-legs-edit, .slot-feet-edit, .slot-accessory1-edit, .slot-accessory2-edit{
    border: 0.1em solid black;
    margin: 0.5em;
    border-radius: 10%;
    cursor:pointer;
    background-color: grey;
    opacity: 0.2;
}

.slot-head-edit:hover, .slot-torso-edit:hover, .slot-legs-edit:hover, .slot-feet-edit:hover, .slot-accessory1-edit:hover, .slot-accessory2-edit:hover{
    opacity: 0.4;
}

.slot-head-edit{
    height: 8em
}

.slot-torso-edit{
    height: 16em
}

.slot-legs-edit{
    height: 22em
}

.slot-feet-edit{
    height: 8em
}

.accessory-back1{
    background: url('/images/watch.png');
}

.accessory-back2{
    background: url('/images/pendant.png');
}

.accessory-back1, .accessory-back2{
    background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}


.slot-accessory1-edit,.slot-accessory2-edit{
     height: 8em;

}

.filled{
    opacity: 1;
    background-color: white;
}
