.headers-edit{
    text-align: center;
    margin:1em
}

.tittle-wardrobe, .tittle-outift{
    color: black;
    font-size: 4em;
}

.center-outift{

}

.wardrobe-slot-empty{
    border: 0.15em solid black;
    margin: 0.5em;
    border-radius: 10%;
    background-color: grey;
    height: 9em;
    opacity: 0.2;
}

.wardrobe-slot-item{
    border: 0.15em solid gray;
    margin: 0.5em;
    border-radius: 10%;
    height: 9em;
    cursor:pointer;
    background-repeat:no-repeat;
   background-size:contain;
   background-position: center;
}

.wardrobe-slot-item:hover{
    border: 0.1em solid black;
    margin: 0.5em;
    border-radius: 10%;
    height: 9em;
    opacity: 0.2;
    cursor:pointer;
    opacity: 0.4;
}

.outfit-outline-edit{
    background: url('/images/body-outline.png');
    background-repeat:no-repeat;
   background-size:contain;
}

.slot-hat-edit, .slot-shirt-edit, .slot-pants-edit, .slot-shoes-edit, .slot-accessory1-edit, .slot-accessory2-edit{
    border: 0.1em solid black;
    margin: 0.5em;
    border-radius: 10%;
    cursor:pointer;
    background-color: grey;
    opacity: 0.2;
}

.slot-hat-edit:hover, .slot-shirt-edit:hover, .slot-pants-edit:hover, .slot-shoes-edit:hover, .slot-accessory1-edit:hover, .slot-accessory2-edit:hover{
    opacity: 0.4;
}

.slot-hat-edit{
    height: 8em
}

.slot-shirt-edit{
    height: 16em
}

.slot-pants-edit{
    height: 22em
}

.slot-shoes-edit{
    height: 8em
}

.accessory-back1{
    background: url('/images/watch.png');
}

.accessory-back2{
    background: url('/images/pendant.png');
}

.accessory-back1, .accessory-back2{
    background-repeat:no-repeat;
   background-size:60% 60%;
   background-position:center;
}


.slot-accessory1-edit,.slot-accessory2-edit{
     height: 8em;
}


.outfit-outline{
    background: url('/images/body-outline.png');
    background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}

.slot-hat, .slot-shirt, .slot-pants, .slot-shoes, .slot-accessory1, .slot-accessory2{
    border: 0.2em solid black;
    margin: 0.1em;
    border-radius: 10%;
    background-color: grey;
    opacity: 0.2;
}

.slot-hat{
    height: 3em
}

.slot-shirt{
    height: 6em
}

.slot-pants{
    height: 7em
}

.slot-shoes{
    height: 3em
}

.accessory-back1{
    background: url('/images/watch.png');
}

.accessory-back2{
    background: url('/images/pendant.png');
}

.accessory-back1, .accessory-back2{
    background-repeat:no-repeat;
   background-size:50% 50%;
   background-position:center;
}


.slot-accessory1,.slot-accessory2{
     height: 2em;
}

.product-grid-outfit{
	width: 40%;
	margin: 0 4% 4% 0;
	float: left;
	border: 1px solid #E9E9E9;
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.filled{
    border: 0.15em solid gray;
    opacity: 1;
    background-color: white;
}

.popoveritem{
    display: inline
}